h1 {
    font-size: 3em;
    margin: 0;
}

body {
    max-width: 600px;
    margin: 0 auto;
}

section {
    margin: 0 0 200px 0;
}

@media only screen and (max-width: 768px) {
    section {
        margin: 0 0 100px 0;
    }
}
